body {
   	background-image: url("/img/memphis-colorful.png");
	font-family: 'Amatic SC', cursive;
	color: #567;
	/*font-family: 'Sacramento', cursive;*/
	/*font-family: 'Cabin Sketch', cursive;*/
}

.underline-hover {
  position: relative;
  color: #567;
  text-decoration: none;
}

.underline-hover:hover {
  color: #567;
  text-decoration: none;
}

.underline-hover:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #567;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.underline-hover:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.image-container{
    position: relative;
    width: 100%;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
}

.image-container:hover .overlay {
	opacity: 0.3;
}

.image-text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}